<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Blog!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="<%= page_path(@conn, :index)%>">embik.me</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item" href="<%= index_path(@conn, :index)%>">Blog</a>
        <a class="nav-item" href="https://github.com/embik">GitHub</a>
        <a class="nav-item" href="https:/xing.com/profile/Marvin_Beckers">Xing</a>
      </div>
    </nav>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
