@font-face
  font-family: 'Rubik'
  font-weight: 400
  src: url('/fonts/Rubik-Regular.woff2') format('woff2')

@font-face
  font-family: 'Merriweather'
  font-weight: 400
  src: url('/fonts/Merriweather-Regular.woff2') format('woff2')
